<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Signup Form</title>
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
</head>
<body style="background-color:lighgreen;">
<div class="wrapper">
    <form action="{% url 'saveusersignup' %}" method="post" name="myform" onsubmit="return validation()">
        {% csrf_token %}
        <h2>Sign Up</h2>
        <div class="input-field">
            <input type="text" required name="signup_username">
            <label>Enter your Username</label>
        </div>
        <div class="input-field">
            <input type="email" required name="signup_email">
            <label>Enter your Email</label>
        </div>
        <div class="input-field">
            <input type="tel" minlength="10" maxlength="10" pattern="[0-9]{10}" required name="signup_mobile">
            <label>Enter your Mobile Number </label>
        </div>
        <div class="input-field">
            <input type="password"  name="signup_password">
            <label>Create password</label>
        </div>
        <div class="input-field">
            <input type="password"  name="signup_confirm">
            <label>Confirm password</label>
        </div>
        <!--      <div class="forget">-->
        <!--        <label for="terms">-->
        <!--          <input type="checkbox" id="terms">-->
        <!--          <p>I agree to the <a href="#" class="terms-link">Terms & Conditions</a></p>-->
        <!--        </label>-->
        <!--      </div>-->
        <button type="submit">Sign Up</button>
        <div class="register">
            <p>Already have an account? <a href="{% url 'userlogin' %}">Login</a></p>
        </div>
    </form>
</div>

<script>
    function validation(){
        pwd1=document.myform.signup_password.value;
        pwd2=document.myform.signup_confirm.value;

        if (pwd1 === "" || pwd1 === null){
            alert("Password cannot be NUll or Blank.....!");
            return false;
        }

        else if (pwd2 === "" || pwd2 === null ) {
            alert("Confirm password cannot be NUll or Blank.....!");
            return false;
        }

        else if (pwd1.length<6){
            alert("Password should contain alteast 6 characters.......!");
            return false;
        }

        else if(pwd1 !== pwd2){
            alert("Password doesn't Match..........!");
            return false;
        }

    return true;
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if 'success' in i.tags %}
            <script> swal('{{i}}', '', 'success'); </script>

        {% elif 'warning' in i.tags %}
            <script> swal('{{i}}', '', 'warning'); </script>

        {% elif 'info' in i.tags %}
            <script> swal('{{i}}', '', 'info'); </script>

        {% elif 'error' in i.tags %}
            <script> swal('{{i}}', '', 'error'); </script>

        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>