<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <title>Catergory Details</title>
</head>

<body>
<div class="container-fluid" style="margin:0px; padding:0px;">
  <div class="card mb-5 " style="width:auto; margin:auto; border:1px solid lightgrey; height:auto;">
    <div class="card-body">
      <h1 class="text-center mb-5" style="color:darkgreen; font-size:35px; font-weight:bold; font-family:Arial;">
        Catergory Details
      </h1>
 <div class="table-responsive">
      <table class="table table-bordered table-hover table-success">
        <thead class="table-success text-center">
          <tr>
            <th>Duration</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody class="text-center">
          {% for i in data %}
          <tr>
            <td>{{i.Duration}}</td>
            <td>
              <a href="{% url 'editcatergory' c_id=i.id %}">
                <button type="button" class="btn btn-outline-success btn-sm">Edit</button>
              </a>
              <a href="{% url 'deletecatergory' c_id=i.id %}">
                <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
 </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if 'success' in i.tags %}
            <script> swal('{{i}}', '', 'success'); </script>

        {% elif 'warning' in i.tags %}
            <script> swal('{{i}}', '', 'warning'); </script>

        {% elif 'info' in i.tags %}
            <script> swal('{{i}}', '', 'info'); </script>

        {% elif 'error' in i.tags %}
            <script> swal('{{i}}', '', 'error'); </script>

        {% endif %}
    {% endfor %}
{% endif %}
</body>

</html>
{% endblock %}
