<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% load static %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <title>Pottery Details</title>
</head>

<body>
  <div class="container-fluid" style="margin:0px; padding:0px;">
    <div class="card mb-5" style="width:auto; margin:0px; border:1px solid lightgrey; height:auto; ">
      <div class="card-body">
        <h1 class="text-center mb-5" style="color:darkgreen; font-size:35px; font-weight:bold; font-family:Arial;">
         Pottery Details
        </h1>

        <!-- Responsive wrapper -->
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-success align-middle">
            <thead class="table-success">
              <tr>
                  <th>Pottery Image</th>
                <th>Pottery Name</th>
                <th>Pottery Category</th>
                <th>Pottery Price</th>
                <th>Pottery Description</th>
                <th>Actions</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              {% for i in data %}
              <tr>
                  <td>
                    <img src="{{i.Pottery_image.url}}" height="150px" width="150px" class="rounded-circle">
                </td>
                <td>{{i.Pottery_name}}</td>
                <td>{{i.Pottery_category}}</td>
                <td>{{i.Pottery_price}}</td>
                <td style="text-align:justify;">{{i.Pottery_description}}</td>
                <td>
                  <a href="{% url 'editpottery' p_id=i.id %}">
                    <button type="submit" class="btn btn-success btn-sm">Edit</button>
                  </a>
                    </td>
                  <td>
                  <a href="{% url 'deletepottery' p_id=i.id %}">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- End Responsive wrapper -->

      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}
